* {
  font-family: "Visuelt Pro";
}

html {
  font-size: 0.521vw;
}

.font-link {
  color: aqua;
}

:root {
  --orange: #ff6e1d;
  --grey: #e6e7e9;
}

textarea {
  resize: none;
}

.grey {
  color: #b4b4b4;
  font-weight: 400;
  font-size: 14px;
}

.orange {
  color: #ff6e1d;
}

.div_nav {
  width: 45rem;
}

.div_main {
  /* width: 190rem; */
  display: flex;
}

button {
  cursor: pointer;
}

.redirectLink {
  font-weight: 400;
  font-size: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.text-center {
  display: block;
  text-align: center;
}

@font-face {
  font-family: "Visuelt Pro";
  src: url(./fonts/VisueltPro-Regular.ttf);
}