* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div-add-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 124rem;
  height: 125px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.but-left {
  width: 18.4rem;
  height: 65px;
  background-color: #ff6e1d;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.but-right {
  width: 49.8rem;
  height: 65px;
  background-color: #ffceb2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
}

.but-right span {
  color: #ff6e1d;
  padding: 1rem;
}
